<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.api.dao.mapper.msap.MspOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.ssy.api.entity.table.msap.MspOrganization">
        <constructor>
            <idArg column="busi_org_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="org_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="org_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="default_org_ind" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ref_org_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_create_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_update_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_create_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_update_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_version" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    busi_org_id, org_name, org_address, default_org_ind, ref_org_id, data_create_time, 
    data_update_time, data_create_user, data_update_user, data_version
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from msp_organization
        where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from msp_organization
    where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.ssy.api.entity.table.msap.MspOrganization">
    insert into msp_organization (busi_org_id, org_name, org_address, 
      default_org_ind, ref_org_id, data_create_time, 
      data_update_time, data_create_user, data_update_user, 
      data_version)
    values (#{busiOrgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{orgAddress,jdbcType=VARCHAR}, 
      #{defaultOrgInd,jdbcType=VARCHAR}, #{refOrgId,jdbcType=VARCHAR}, #{dataCreateTime,jdbcType=VARCHAR}, 
      #{dataUpdateTime,jdbcType=VARCHAR}, #{dataCreateUser,jdbcType=VARCHAR}, #{dataUpdateUser,jdbcType=VARCHAR}, 
      #{dataVersion,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.ssy.api.entity.table.msap.MspOrganization">
        insert into msp_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busiOrgId != null">
                busi_org_id,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="orgAddress != null">
                org_address,
            </if>
            <if test="defaultOrgInd != null">
                default_org_ind,
            </if>
            <if test="refOrgId != null">
                ref_org_id,
            </if>
            <if test="dataCreateTime != null">
                data_create_time,
            </if>
            <if test="dataUpdateTime != null">
                data_update_time,
            </if>
            <if test="dataCreateUser != null">
                data_create_user,
            </if>
            <if test="dataUpdateUser != null">
                data_update_user,
            </if>
            <if test="dataVersion != null">
                data_version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busiOrgId != null">
                #{busiOrgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgAddress != null">
                #{orgAddress,jdbcType=VARCHAR},
            </if>
            <if test="defaultOrgInd != null">
                #{defaultOrgInd,jdbcType=VARCHAR},
            </if>
            <if test="refOrgId != null">
                #{refOrgId,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateTime != null">
                #{dataCreateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateTime != null">
                #{dataUpdateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateUser != null">
                #{dataCreateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateUser != null">
                #{dataUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                #{dataVersion,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssy.api.entity.table.msap.MspOrganization">
        update msp_organization
        <set>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgAddress != null">
                org_address = #{orgAddress,jdbcType=VARCHAR},
            </if>
            <if test="defaultOrgInd != null">
                default_org_ind = #{defaultOrgInd,jdbcType=VARCHAR},
            </if>
            <if test="refOrgId != null">
                ref_org_id = #{refOrgId,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateTime != null">
                data_create_time = #{dataCreateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateTime != null">
                data_update_time = #{dataUpdateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateUser != null">
                data_create_user = #{dataCreateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateUser != null">
                data_update_user = #{dataUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                data_version = #{dataVersion,jdbcType=BIGINT},
            </if>
        </set>
        where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssy.api.entity.table.msap.MspOrganization">
    update msp_organization
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_address = #{orgAddress,jdbcType=VARCHAR},
      default_org_ind = #{defaultOrgInd,jdbcType=VARCHAR},
      ref_org_id = #{refOrgId,jdbcType=VARCHAR},
      data_create_time = #{dataCreateTime,jdbcType=VARCHAR},
      data_update_time = #{dataUpdateTime,jdbcType=VARCHAR},
      data_create_user = #{dataCreateUser,jdbcType=VARCHAR},
      data_update_user = #{dataUpdateUser,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=BIGINT}
    where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
  </update>

    <select id="selectFirst" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from msp_organization limit 1;
    </select>
</mapper>