<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.api.dao.mapper.local.SdbBatchExecutionMapper">
    <resultMap id="BaseResultMap" type="com.ssy.api.entity.table.local.SdbBatchExecution">
        <constructor>
            <idArg column="busi_org_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <idArg column="tran_flow_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <idArg column="batch_run_no" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="trxn_seq" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dayend_manage_date" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="tran_state" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="tran_group_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_create_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_create_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_update_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_update_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_version" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    busi_org_id, tran_flow_id, batch_run_no, trxn_seq, dayend_manage_date, tran_state, 
    tran_group_id, data_create_user, data_create_time, data_update_user, data_update_time, 
    data_version
  </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdb_batch_execution
        where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
        and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
        and batch_run_no = #{batchRunNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from sdb_batch_execution
    where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
      and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
      and batch_run_no = #{batchRunNo,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.ssy.api.entity.table.local.SdbBatchExecution">
    insert into sdb_batch_execution (busi_org_id, tran_flow_id, batch_run_no, 
      trxn_seq, dayend_manage_date, tran_state, 
      tran_group_id, data_create_user, data_create_time, 
      data_update_user, data_update_time, data_version
      )
    values (#{busiOrgId,jdbcType=VARCHAR}, #{tranFlowId,jdbcType=VARCHAR}, #{batchRunNo,jdbcType=VARCHAR}, 
      #{trxnSeq,jdbcType=VARCHAR}, #{dayendManageDate,jdbcType=VARCHAR}, #{tranState,jdbcType=VARCHAR}, 
      #{tranGroupId,jdbcType=VARCHAR}, #{dataCreateUser,jdbcType=VARCHAR}, #{dataCreateTime,jdbcType=VARCHAR}, 
      #{dataUpdateUser,jdbcType=VARCHAR}, #{dataUpdateTime,jdbcType=VARCHAR}, #{dataVersion,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ssy.api.entity.table.local.SdbBatchExecution">
        insert into sdb_batch_execution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busiOrgId != null">
                busi_org_id,
            </if>
            <if test="tranFlowId != null">
                tran_flow_id,
            </if>
            <if test="batchRunNo != null">
                batch_run_no,
            </if>
            <if test="trxnSeq != null">
                trxn_seq,
            </if>
            <if test="dayendManageDate != null">
                dayend_manage_date,
            </if>
            <if test="tranState != null">
                tran_state,
            </if>
            <if test="tranGroupId != null">
                tran_group_id,
            </if>
            <if test="dataCreateUser != null">
                data_create_user,
            </if>
            <if test="dataCreateTime != null">
                data_create_time,
            </if>
            <if test="dataUpdateUser != null">
                data_update_user,
            </if>
            <if test="dataUpdateTime != null">
                data_update_time,
            </if>
            <if test="dataVersion != null">
                data_version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busiOrgId != null">
                #{busiOrgId,jdbcType=VARCHAR},
            </if>
            <if test="tranFlowId != null">
                #{tranFlowId,jdbcType=VARCHAR},
            </if>
            <if test="batchRunNo != null">
                #{batchRunNo,jdbcType=VARCHAR},
            </if>
            <if test="trxnSeq != null">
                #{trxnSeq,jdbcType=VARCHAR},
            </if>
            <if test="dayendManageDate != null">
                #{dayendManageDate,jdbcType=VARCHAR},
            </if>
            <if test="tranState != null">
                #{tranState,jdbcType=VARCHAR},
            </if>
            <if test="tranGroupId != null">
                #{tranGroupId,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateUser != null">
                #{dataCreateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateTime != null">
                #{dataCreateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateUser != null">
                #{dataUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateTime != null">
                #{dataUpdateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                #{dataVersion,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssy.api.entity.table.local.SdbBatchExecution">
        update sdb_batch_execution
        <set>
            <if test="trxnSeq != null">
                trxn_seq = #{trxnSeq,jdbcType=VARCHAR},
            </if>
            <if test="dayendManageDate != null">
                dayend_manage_date = #{dayendManageDate,jdbcType=VARCHAR},
            </if>
            <if test="tranState != null">
                tran_state = #{tranState,jdbcType=VARCHAR},
            </if>
            <if test="tranGroupId != null">
                tran_group_id = #{tranGroupId,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateUser != null">
                data_create_user = #{dataCreateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateTime != null">
                data_create_time = #{dataCreateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateUser != null">
                data_update_user = #{dataUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateTime != null">
                data_update_time = #{dataUpdateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                data_version = #{dataVersion,jdbcType=INTEGER},
            </if>
        </set>
        where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
        and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
        and batch_run_no = #{batchRunNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssy.api.entity.table.local.SdbBatchExecution">
    update sdb_batch_execution
    set trxn_seq = #{trxnSeq,jdbcType=VARCHAR},
      dayend_manage_date = #{dayendManageDate,jdbcType=VARCHAR},
      tran_state = #{tranState,jdbcType=VARCHAR},
      tran_group_id = #{tranGroupId,jdbcType=VARCHAR},
      data_create_user = #{dataCreateUser,jdbcType=VARCHAR},
      data_create_time = #{dataCreateTime,jdbcType=VARCHAR},
      data_update_user = #{dataUpdateUser,jdbcType=VARCHAR},
      data_update_time = #{dataUpdateTime,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=INTEGER}
    where busi_org_id = #{busiOrgId,jdbcType=VARCHAR}
      and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
      and batch_run_no = #{batchRunNo,jdbcType=VARCHAR}
  </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdb_batch_execution order by dayend_manage_date desc
    </select>
</mapper>