<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.api.dao.mapper.local.SdpModuleMappingMapper">
    <resultMap id="BaseResultMap" type="com.ssy.api.entity.table.local.SdpModuleMapping">
        <constructor>
            <idArg column="module_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="module_desc" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="service_code_prefix" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="system_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sub_system_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gitlab_search_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_create_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_create_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_update_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_update_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="data_version" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    module_id, module_desc, service_code_prefix, system_code, sub_system_code, gitlab_search_url, 
    data_create_user, data_create_time, data_update_user, data_update_time, data_version
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdp_module_mapping
        where module_id = #{moduleId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sdp_module_mapping
    where module_id = #{moduleId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.ssy.api.entity.table.local.SdpModuleMapping">
    insert into sdp_module_mapping (module_id, module_desc, service_code_prefix, 
      system_code, sub_system_code, gitlab_search_url, 
      data_create_user, data_create_time, data_update_user, 
      data_update_time, data_version)
    values (#{moduleId,jdbcType=VARCHAR}, #{moduleDesc,jdbcType=VARCHAR}, #{serviceCodePrefix,jdbcType=VARCHAR}, 
      #{systemCode,jdbcType=VARCHAR}, #{subSystemCode,jdbcType=VARCHAR}, #{gitlabSearchUrl,jdbcType=VARCHAR}, 
      #{dataCreateUser,jdbcType=VARCHAR}, #{dataCreateTime,jdbcType=VARCHAR}, #{dataUpdateUser,jdbcType=VARCHAR}, 
      #{dataUpdateTime,jdbcType=VARCHAR}, #{dataVersion,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ssy.api.entity.table.local.SdpModuleMapping">
        insert into sdp_module_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="moduleId != null">
                module_id,
            </if>
            <if test="moduleDesc != null">
                module_desc,
            </if>
            <if test="serviceCodePrefix != null">
                service_code_prefix,
            </if>
            <if test="systemCode != null">
                system_code,
            </if>
            <if test="subSystemCode != null">
                sub_system_code,
            </if>
            <if test="gitlabSearchUrl != null">
                gitlab_search_url,
            </if>
            <if test="dataCreateUser != null">
                data_create_user,
            </if>
            <if test="dataCreateTime != null">
                data_create_time,
            </if>
            <if test="dataUpdateUser != null">
                data_update_user,
            </if>
            <if test="dataUpdateTime != null">
                data_update_time,
            </if>
            <if test="dataVersion != null">
                data_version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="moduleId != null">
                #{moduleId,jdbcType=VARCHAR},
            </if>
            <if test="moduleDesc != null">
                #{moduleDesc,jdbcType=VARCHAR},
            </if>
            <if test="serviceCodePrefix != null">
                #{serviceCodePrefix,jdbcType=VARCHAR},
            </if>
            <if test="systemCode != null">
                #{systemCode,jdbcType=VARCHAR},
            </if>
            <if test="subSystemCode != null">
                #{subSystemCode,jdbcType=VARCHAR},
            </if>
            <if test="gitlabSearchUrl != null">
                #{gitlabSearchUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateUser != null">
                #{dataCreateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateTime != null">
                #{dataCreateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateUser != null">
                #{dataUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateTime != null">
                #{dataUpdateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                #{dataVersion,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssy.api.entity.table.local.SdpModuleMapping">
        update sdp_module_mapping
        <set>
            <if test="moduleDesc != null">
                module_desc = #{moduleDesc,jdbcType=VARCHAR},
            </if>
            <if test="serviceCodePrefix != null">
                service_code_prefix = #{serviceCodePrefix,jdbcType=VARCHAR},
            </if>
            <if test="systemCode != null">
                system_code = #{systemCode,jdbcType=VARCHAR},
            </if>
            <if test="subSystemCode != null">
                sub_system_code = #{subSystemCode,jdbcType=VARCHAR},
            </if>
            <if test="gitlabSearchUrl != null">
                gitlab_search_url = #{gitlabSearchUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateUser != null">
                data_create_user = #{dataCreateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataCreateTime != null">
                data_create_time = #{dataCreateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateUser != null">
                data_update_user = #{dataUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataUpdateTime != null">
                data_update_time = #{dataUpdateTime,jdbcType=VARCHAR},
            </if>
            <if test="dataVersion != null">
                data_version = #{dataVersion,jdbcType=INTEGER},
            </if>
        </set>
        where module_id = #{moduleId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssy.api.entity.table.local.SdpModuleMapping">
    update sdp_module_mapping
    set module_desc = #{moduleDesc,jdbcType=VARCHAR},
      service_code_prefix = #{serviceCodePrefix,jdbcType=VARCHAR},
      system_code = #{systemCode,jdbcType=VARCHAR},
      sub_system_code = #{subSystemCode,jdbcType=VARCHAR},
      gitlab_search_url = #{gitlabSearchUrl,jdbcType=VARCHAR},
      data_create_user = #{dataCreateUser,jdbcType=VARCHAR},
      data_create_time = #{dataCreateTime,jdbcType=VARCHAR},
      data_update_user = #{dataUpdateUser,jdbcType=VARCHAR},
      data_update_time = #{dataUpdateTime,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=INTEGER}
    where module_id = #{moduleId,jdbcType=VARCHAR}
  </update>

    <select id="selectMergeEnableList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdp_module_mapping
        where gitlab_search_url is not null order by system_code
    </select>

    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdp_module_mapping order by system_code
    </select>
</mapper>